.card{
    /* width: 30%; */
    margin: 5px;
    flex: 1;
    width: 20vw;
    height: 44vh;
    background-color: darkgray;
}

.card img{  
    width: 97%;
    height: 200px;
    margin: 4px 0px 4px 4px;
    border-radius: inherit;
    object-fit: cover;
}

.card .card-title{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
           line-clamp: 1;
   -webkit-box-orient: vertical;
}