.footbar {
    background: pink;
    width: 85%;
    height: 80px;
    position: fixed;
    bottom: 0;
}

.pay {
    display: inline-block !important;
    position: absolute;
    right: 10%;
}

.list {
    
    width: 15%;
    background: #fdfafc2b !important;
    position: fixed;
    height: 100%;
    top: 60px;

}

