.admin {
    margin-left: 20%;
    /* margin-top: 10%; */
}

.admin1 {
    padding: 10px;
    border-radius: 2px solid red;
}

.cr {
    margin-top: 2%;
     margin-left: 2%;
      max-width: 420px;
      border: 2px solid;
      border-radius: 8px;
      padding: 10px;
}


