#sidebar-wrapper {
    min-height: 100vh !important;
    width: 100vw;
    margin-left: -1rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

.bt {
    margin-left: 2px;
    margin-top: 5px;

    border-radius: 50% !important;
}

ul.sort li.sortBy {
    cursor: pointer;
}

ul.sort li.sortBy span.arrow::after {
    content: "\2191";
}

ul.sort li.asc span.arrow::after {
    content: "\2191";
    background-color: yellow;
    color: red;
    font-weight: bold;
}

ul.sort li.desc span.arrow::after {
    content: "\2193";
    background-color: yellow;
    color: red;
    font-weight: bold;
}

#page-content-wrapper {
    min-width: 0;
    width: 20%;

}

#b {
    width: 15%;
    background: #fdfafc2b !important;
    position: fixed;
    height: 100%;
    top: 60px;
}

#b input {
    height: 30px;   
}

#b button.btns {
    padding: 0;
}

.btns {
    width: 60% !important;
}

#numOfProduct {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid grey;
}